@model IEnumerable<MVote.Vote_session>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VSList</title>
    <style>
      a{
          border: 1px solid #000000;
          padding:3px 8px;
          border-radius:3px;
      }
    </style>
</head>
<body>
    @Html.ActionLink("投票柱图", "showinfo")
    @Html.ActionLink("投票情况表", "scorelist")
    @Html.ActionLink("投票码", "code")
    <table border="1" style="border:1px solid #000000;border-collapse:collapse;">
        <tr>
            <th>
              标题
            </th>
            <th style="width:50px;">
               内容
            </th>
            <th>
             状态
              
            </th>
            <th style="width:50px;">
                时间
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="test">
                @Html.DisplayFor(modelItem => item.TitleDesc)
            </td>
          
            <td>
               
                @item.VState 
            </td>
            <td>
               1_ @Html.DisplayFor(modelItem => item.StartDate)
                 <br/>
               2_ @Html.DisplayFor(modelItem => item.EndSDate)
            </td>
         
            <td>
                @Html.ActionLink("开始", "SetStart", new { id = item.ID }, new { onclick = "return confirm('是否开启第" + item.Title + "？')" })
                <br />
                <br />
                @Html.ActionLink("结束", "SetEnd", new { id = item.ID }, new { onclick = "return confirm('是否结束第" + item.Title + "？')" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
